sbpro-layout-landing(
    footerClasses='bg-dark footer-dark'
)

    sb-top-nav(
        topNavClasses='bg-white navbar-light',
        brandClasses='text-dark',
        buttonClasses='btn-primary'
    )

    sbpro-page-header(
        headerClasses='bg-white page-header-light'
    )
        include pug_include/header.pug
