.row.justify-content-center.text-center.mb-5
    h3 What is your Credit Score?

.row.justify-content-around.text-center.mb-10
    button.btn.btn-outline-primary.btn-dynamic-block.mb-4(
        type='button',
        (click)='estimatedCreditScore("BAD")'
    ) 
        .font-weight-700.d-inline-block Bad &nbsp;
        | (300-549)
    button.btn.btn-outline-primary.btn-dynamic-block.mb-4(
        type='button',
        (click)='estimatedCreditScore("POOR")'
    ) 
        .font-weight-700.d-inline-block Poor &nbsp;
        | (550-619)
    button.btn.btn-outline-primary.btn-dynamic-block.mb-4(
        type='button',
        (click)='estimatedCreditScore("FAIR")'
    ) 
        .font-weight-700.d-inline-block Fair &nbsp;
        | (620-679)
    button.btn.btn-outline-primary.btn-dynamic-block.mb-4(
        type='button',
        (click)='estimatedCreditScore("GOOD")'
    ) 
        .font-weight-700.d-inline-block Good &nbsp;
        | (680-739)
    button.btn.btn-outline-primary.btn-dynamic-block.mb-4(
        type='button',
        (click)='estimatedCreditScore("EXCELLENT")'
    ) 
        .font-weight-700.d-inline-block Excellent &nbsp;
        | (740+)