sbpro-layout-landing(
    footerClasses='bg-primary text-white'
)
    sb-top-nav(
        topNavClasses='bg-primary navbar-dark fixed-top',
        brandClasses='text-white',
        buttonClasses='btn-white'
    )

    sbpro-page-section.top-section(
        sectionClasses='bg-white',
    )
    
        router-outlet