sbpro-layout-landing(
    footerClasses='bg-light footer-light'
)
    sb-top-nav(
        topNavClasses='bg-transparent navbar-light fixed-top',
        brandClasses='text-primary',
        buttonClasses='btn-primary'
    )

    sbpro-page-header(
        headerClasses='bg-white page-header-light',
        borderClasses='text-light'
    )
        router-outlet