sbpro-layout-landing(
    footerClasses='bg-primary text-white'
)
    sb-top-nav(
        topNavClasses='bg-primary navbar-dark fixed-top',
        brandClasses='text-white',
        buttonClasses='btn-white'
    )

    sbpro-page-section.top-section(
        sectionClasses='bg-white',
    )
        .page-header-content.pt-5
            .container
                //- .row.justify-content-center
                h4 Confidence Meter
                .progress.mb-5
                    .progress-bar.bg-primary(
                        role='progressbar',
                        style='width: 10%',
                        aria-valuenow='100',
                        aria-valuemin='0',
                        aria-valuemax='100'
                    )

                router-outlet